header  
    .navegacion
        .container  
            .row.justify-content-center.justify-content-md-between.align-items-center.p-4
                .col-6.col-md-4
                    a(href="/")
                        img(src="/img/logo.svg", alt="logo" class="img-fluid")
                .col-6.col-md-8
                    nav.nav.justify-content-center.justify-content-md-end 
                        a.nav-link(href="/nosotros", class=(ruta === '/nosotros' ? 'active' : null)) Nosotros
                        a.nav-link(href="/viajes", class=(ruta==='/viajes' ? 'active' : null)) Viajes
                        a.nav-link(href="/testimonios", class=(ruta === '/testimonios' ? 'active' : null)) Testimoniales