extends ./layout/index

block slider
   .slider
        h1 Rio de Janeiro
        em Aventura

    
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p.text-center Encuentra las mejores ofertas y los mejores destinos en nuestra agencia de viajes, grantizamos la seguridad y una experiencias increible para nuestros clientes ya sea que tu proposito de viaje sea una boda, luna de miel, viaje o simplemente pasar unos dias inolvidables tienes que contactarnos!
               
                p.text-center Más de 11 años nos respaldan selecionamos los mejores destinos, transporte comida y atención no te arrepentiras! 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")
        
        h2.text-center.mb-5 Proximos Viajes!
        //-vista de los viajes de la bd
        include ./layout/includes/viajes
    
     
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% De Descuento
                        p.titulo Viaja a Canada
                        p.fecha 20 de Marzo 2020 - 29 de Marzo de 2020
                        p.precio $2,500 USD
    
    .container
        h2.text-center.my-5 Testimoniales:
        include ./layout/includes/testimonios
