extends ./layout/index


block contenido
   main.container.mt-5
        h1.mb-5.text-center= pagina

        .row
           
            .col-md-12
                include ./layout/includes/testimonios

            .col-md-12
                h2.text-center Dejanos un Mensaje!
                if(error)
                    each err in error
                        .alert.alert-danger.text.center= err.mensaje

                .row.justify-content-center
                    .col-md-8
                        form(action="/testimonios", method="POST")
                            .form-group
                                label(for="nombre") Nombre:
                                input(type="text", class="form-control", name="nombre", value= name, id="nombre",placeholder="Escribe tu nombre")
                            .form-group
                                label(for="email") Email:
                                input(type="email", class="form-control",name="correo", id="email", value= correo, placeholder="Escribe tu Correo Electrónico")
                            .form-group
                                label(for="mensaje") Mensaje:
                                textarea#mensaje(name="mensaje", class="form-control", placeholder="Escribe tu Mensaje" rows="3" class="form-control")= mensaje
                            input.btn.btn-block.btn-success(type="submit")